/* Estilos para a página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #00ffff;
    background-color: black;
    margin: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 20%;
    padding: 8px;
    margin-bottom: 16px;
    background-color: #041d25;
    color: white;
    text-align: center;
}

#resultado1,
#resultado2, 
#resultado3,
#resultado4 {
    background-color: black;
    color: #027951;
    text-align: center;
}
